* {
    margin: 0;
            box-sizing: border-box;
    text-transform: capitalize;
    font-family: 'Exo 2', sans-serif;
    transition: all .2s linear;
  }
  
  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
  body {
    overflow-x: hidden;
    background: rgba(0, 0, 0, 0.829);
  }
  
  .header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1rem 2rem;
    z-index: 100;
    background: rgb(0, 0, 0);
    -webkit-box-shadow: 0 0.1rem 0.5rem rgba(51, 51, 51, 0.5);
            box-shadow: 0 0.1rem 0.5rem rgba(51, 51, 51, 0.5);
  }
  
  .header a {
    font-size: 2rem;
    text-decoration: none;
    color: #0084ff;
    text-shadow: rgb(255, 255, 255);
  }
  
svg {
    font-size: 3rem;
    color: #0084ff;
    text-shadow: rgb(255, 255, 255);
    cursor: pointer;
    display: none;
  }
  
  .header .logo h1 {
    margin-bottom: 0;
    color: #0084ff;
  }
  
  .header .navbar ul {
    color: #0084ff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .header .navbar ul li {
    margin: 0 1.5rem;
  }
  
  .header .navbar ul li a:hover {
    padding-bottom: .3rem;
    border-bottom: 0.2rem solid #0084ff;
  }
  
  .home {
    background: url(img/gambar1.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
  .home h2 {
    font-size: 30px;
    color: rgb(0, 47, 255);
    margin: 2rem o;
    text-shadow: 0.1rem 0.1rem 0.1rem rgba(255, 255, 255, 0.9);
  }
  
  .home h1 {
    font-size: 40px;
    color: rgb(0, 47, 255);
    margin: 2rem 0;
    text-shadow: 0.1rem 0.1rem 0.1rem rgba(255, 255, 255, 0.9);
  }
  
  .home h1 span {
    color: #0084ff;
    margin: 0;
  }

  .home button {
    height: 40px;
    width: 100px;
    background: rgb(104, 104, 104);
    border: none;
    outline: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    text-transform: capitalize;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(51, 51, 51, 0.3);
            box-shadow: 0 0.5rem 1rem rgba(51, 51, 51, 0.3);
    
  }
  
  .about {
    padding-bottom: 3rem;
  }
  
  .about .heading {
    font-size: 3rem;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: rgb(255, 255, 255);
    margin: 3rem 0;
    padding-top: 6rem;
    position: relative;
  }
  
  .about .heading::after {
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    height: .3rem;
    width: 5rem;
    background: rgb(255, 255, 255);
  }
  
  .about .info {
    padding: 0 2rem;
  }
  
  .about .info h2 {
    font-size: 3rem;
    color: #0084ff;
  }
  
  .about .info p {
    font-size: 1.7rem;
    color: #0084ff;
    text-shadow: rgb(255, 255, 255);
    padding-bottom: 3rem;
  }
  
  .about .info .skill-bar h3 {
    margin-top: 2rem;
    color: #0084ff;
  }
  
  .about .info .skill-bar h3 span {
    display: block;
    text-align: end;
  }
  
  .about .info .skill-bar .bar {
    width: 100%;
    height: .5rem;
    color: #0084ff;
    background: #ccc;
    position: relative;
  }
  
  .about .info .skill-bar .bar span {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #0084ff;
  }
  
  .about .info .skill-bar .bar1 span {
    width: 95%;
  }
  
  .about .info .skill-bar .bar2 span {
    width: 85%;
  }
  
  .about .info .skill-bar .bar3 span {
    width: 65%;
  }
  
  .about .info .skill-bar .bar4 span {
    width: 75%;
  }
  
  .portfolio {
    min-height: 100vh;
  }
  
  .portfolio .heading {
    font-size: 3rem;
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 3rem 0;
    padding-top: 6rem;
    position: relative;
  }
  
  .portfolio .heading::after {
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    height: .3rem;
    width: 5rem;
    background: rgb(250, 250, 250);
  }
  
  .portfolio .controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style-type: none;
  }
  
  .portfolio .controls .buttons {
    height: 4rem;
    width: 15rem;
    background: #333;
    color: #fff;
    text-align: center;
    line-height: 4rem;
    font-size: 1.7rem;
    cursor: pointer;
    margin: 1rem;
  }
  
  .portfolio .controls .buttons:hover {
    background: #0084ff;
    -webkit-box-shadow: 0 0.5rem 0.5rem rgba(51, 51, 51, 0.3);
            box-shadow: 0 0.5rem 0.5rem rgba(51, 51, 51, 0.3);
  }
  
  .portfolio .controls .active {
    background: #0084ff;
    -webkit-box-shadow: 0 0.5rem 0.5rem rgba(51, 51, 51, 0.3);
            box-shadow: 0 0.5rem 0.5rem rgba(51, 51, 51, 0.3);
  }
  
  .portfolio .images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  .portfolio .images .filter-image {
    height: 18rem;
    width: 25rem;
    border-radius: .5rem;
    margin: 2rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .contact {
    min-height: 90vh;
  }
  
  .contact .heading {
    font-size: 3rem;
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 3rem 0;
    padding-top: 6rem;
    position: relative;
  }
  
  .contact .heading::after {
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    height: .3rem;
    width: 5rem;
    background: rgb(255, 255, 255);
  }

  .contact .inputBox {
    padding: 0 1rem;
  }
  
  .contact .inputBox .name, .contact .inputBox .email, .contact .inputBox textarea {
    height: 3rem;
    width: 100%;
    background: none;
    border: none;
    outline: none;
    border-bottom: .1rem solid rgb(255, 255, 255);
    padding: 1rem;
    margin: 1.5rem 0;
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
  }
  
  .contact .inputBox .name:focus, .contact .inputBox .email:focus, .contact .inputBox textarea:focus {
    border-bottom: 0.2rem solid #0084ff;
    color: rgb(255, 255, 255);
  }
  
  .contact .inputBox .name {
    width: 45%;
    color: aliceblue;
  }
  
  .contact .inputBox textarea {
    color: rgb(255, 255, 255);
    height: 20rem;
    border: .1rem solid rgb(255, 255, 255);
    resize: none;
  }
  
  .contact .inputBox textarea:focus {
    color: aliceblue;
    border: 0.2rem solid #0084ff;
  }
  
  .contact .name-box {
    color: aliceblue;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
  }
  
  .contact input[type="submit"] {
    height: 4rem;
    width: 12rem;
    background: #333;
    color: #fff;
    font-size: 1.7rem;
    margin-left: 1rem;
    margin-bottom: 3rem;
    outline: none;
    border: none;
  }
  
  .contact input[type="submit"]:hover {
    background: #0084ff;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(51, 51, 51, 0.3);
            box-shadow: 0 0.5rem 1rem rgba(51, 51, 51, 0.3);
  }
  
  .contact .info .info-box {
    color: rgb(255, 255, 255);
    margin: 4.5rem 1rem;
  }
  
  .contact .info .info-box h2 {
    font-size: 2rem;
    color: #0084ff;
  }
  
  .contact .info .info-box h2 i {
    padding: 0 1rem;
    color: rgb(255, 255, 255);
  }
  
  .contact .info .info-box p {
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
    padding-left: 3.5rem;
  }
  
  #footer {
  padding: 1rem 0;
  border-top: 0.1rem solid rgb(255, 255, 255);
}

#footer h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 1.7rem;
  font-weight: bolder;
  margin-bottom: 0;
  letter-spacing: .1rem;
}

#footer h1 span a {
  color: #0084ff;
}
#footer .row a {
  font-size: 15px;
  width: 100px;
  height: 30px ;
}
  
  @media (max-width: 768px) {
    html {
      font-size: 55%;
    }
    .home {
      background-position: center;
    }
    .header .bi-list {
      display: block;
    }
    .header .navbar {
      position: fixed;
      top: -120%;
      left: 0;
      height: calc(100vh - 5.2rem);
      width: 100vw;
      background: #fff;
      border-top: 0.1rem solid rgba(51, 51, 51, 0.3);
    }
    .header .navbar ul {
      height: 100%;
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column;
              flex-flow: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    .header .navbar ul li {
      margin: 1.5rem 0;
    }
    .header .navbar ul li a {
      font-size: 2.5rem;
    }
    .header .nav-toggle {
      top: 5rem;
    }
  }
  /*# sourceMappingURL=style.css.map */
